
.recipeContainer {
    text-align: center;
    font-family: var(--font-dm-serif);
    color: rgb(4, 56, 4);
    margin-top: 40px;
}

.cuisineImages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
}

.recipeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipesRound {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.recipeItem p {
    margin-top: 8px;
    font-weight: 500;
    font-family: var(--font-inter);
    color: rgb(48, 47, 47);
    font-size: 14px;
}

.recipeResults{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}
